img{
	text-align: center;
}
head{<
	width: 25%; 
	margin: 0 auto;
	background-color: grey;
}
h3{
	border:3px;
	width: 25%
	margin:0 auto;
}
body{
	background-color: red;
}
.rammi{
	margin:0 auto;
	text-align: center;
}